body,
html {
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    font-family: 'Raleway', sans-serif;
}
.container {
    width: 100%;
}
.navbar {
    margin-bottom: 0;
    border: none;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    z-index: 1;
}
.navbar-brand {
    padding-top: 85px;
    padding-left: 100px;
    
}
.navbar-default ul {
   padding: 20px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: lighter;
    font-size: 1.4em;
}
.navbar-brand .glyphicon {
    margin-right: 6px;
}

#header {
    position: relative;
}

header .conteudo-header {
    position: relative;
    width: 100%;
    text-align: center;

}
.welcome {
    z-index: 1;
    padding-top: 10%;
    position: absolute;
}
.wel-title, h1{
    text-align: center;
    color: #fff;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 3.5em;
}
wel-title-sm,h1 {
    padding-top: 100px;
    text-align: center;
    color: #fff;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 2.5em;
}
section {
    padding: 100px 0;
}

.fundo-sobre {
    background: linear-gradient(to bottom, #fd814a 10%,#f9b21d 100%);
}

.fundo-sobre h2{
    color: #fff;
    font-family: 'Abril Fatface';
}

.fundo-sobre, h2, .titulo {
    margin: 0;
}
hr {
   border-width: 4px;
    max-width: 100px; 
}
.fundo-sobre,.linha {
    color: #fff;
}

p {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 30px; 
}
.botao {
    padding: 10px 20px;
    border: none;
    border-radius: 200px;
    font-weight: 600;
    display: inline;
}
.btn-default:hover {
    background-color: #ddd;
}
/*HEADER*/
canvas,waves {
    min-width: 100%;
    min-height: 100%;
    margin-top: -100px;
    margin-bottom: -5px;
   
 /*FOOTER*/   
}
.site-footer {
    background-color: #333;
    padding: 50px 50px;
    color: #fff;
}
.site-footer h4 {
    font-family: 'Abril Fatface';
    color: #fff;
    text-align: left;
}
.site-footer h5 {
    font-family: 'Abril Fatface';
    color: #fff;
    text-align: right;
}